* { margin: 0; padding: 0; box-sizing: border-box; }

.header { display: flex; background: black; padding-left: 10px; color: #fff; }
.search { padding: 10px; text-align: center; }

.list { display: flex; justify-content: space-between; padding: 0 10px; }
.list .item { width: 32%; border: 1px solid #ccc; border-radius: 5px; padding: 10px; }

.modal { position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background: #f1f1f1; border: 1px solid #ccc; padding: 30px; }